/* MAIN COLOURS:

  Yellow: #fffc00
  White: #f5f5f1
  Dark-Blue: #001326

*/

/* MAIN ELEMENTS */

section {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.section-text-elements-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
  font-family: 'Inter';
  font-size: 40px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  color: #001326;

  padding: 0;
  margin: 0;
}

h2 {
  font-family: 'Inter';
  font-size: 22px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  color: #001326;
  
  padding: 0;
  margin: 0;
}

h3 {
  font-family: 'Inter';
  font-size: 12px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #001326;
  opacity: 0.8;

  padding: 0;
  margin: 0;
}

h4 {
  font-family: 'Inter';
  font-size: 15px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  color: #001326;
  opacity: 0.9;

  padding: 0;
  margin: 0;
}

p {
  font-family: 'Inter';
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #001326;
  opacity: 0.8;

  padding: 0;
  margin: 0;
}

.cta-elements-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cta-button {
    background-color: #fffc00;
    border: none;
    border-radius: 2px;

    font-family: 'Inter';
    font-weight: bold;
    font-size: 15px;
    line-height: normal;
    letter-spacing: normal;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;

    width: 190px;

    display: inline-block;
}
.cta-button:hover { opacity: 0.8; }

.cta-button-under-text {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #001326;
    opacity: 0.7;

    padding: 0;
    margin: 0;
}

/* HEADER ELEMENTS */

.home-header-yellow-top-bar {
  background-color: #fffc00;
  
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;

  vertical-align: top;
}

.home-header-yellow-top-bar-elements-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.home-header-yellow-top-bar-links {
  font-family: 'Inter';
  font-size: 11px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #001326;

  text-decoration: none;

  cursor: pointer;

  padding: 0;
  margin: 0;

  transition: text-decoration 0.1s;
}
.home-header-yellow-top-bar-links:hover { text-decoration: underline; }

header {
    background-color: #001326;
}

.home-main-header-content-container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    align-items: center;
}

.home-header-logo-image {
    height: 45px;
    object-fit: cover;
    
    display: inline-block;
}

.home-header-navigation-bar {
    display: flex;
    flex-direction: row;
    gap: 20px;

    align-items: center;

    margin-left: 40px;
}

.navigation-page-button {
    font-family: 'Inter';
    font-size: 15px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    color: #fffc00;

    text-decoration: none;

    cursor: pointer;

    padding: 0;
    margin: 0;

    transition: text-decoration 0.1s;
}
.navigation-page-button:hover { text-decoration: underline; }

.home-main-header-cta-button {
    background-color: #fffc00;
    border: none;
    border-radius: 2px;

    font-family: 'Inter';
    font-weight: bold;
    font-size: 13px;
    line-height: normal;
    letter-spacing: normal;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;

    margin-left: auto;

    display: inline-block;
}
.home-main-header-cta-button:hover { opacity: 0.8; }

/* HERO SECTION */

.home-hero-section {
    padding: 0;
    background-image: url("https://tse4.mm.bing.net/th/id/OIP._q5dTwRKCybteTOKeaqlcwHaFS?r=0&rs=1&pid=ImgDetMain&o=7&rm=3");
}

.home-hero-section-bg-image-darkener-div {
    background-color: rgba(0, 19, 38, 0.8);
}

.home-hero-section-content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 50%;

    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.home-hero-section-h2 {
    color: #f5f5f1;
    opacity: 0.9;
}

.home-hero-section-h1 {
    color: #f5f5f1;
}

.home-hero-section-p {
    color: #f5f5f1;
    opacity: 0.8;
}

.home-hero-section-yellow-bottom-bar {
    display: flex;
    flex-direction: row;
    gap: 0px;

    background-color: #fffc00;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.home-hero-section-yellow-bottom-bar-group-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    
    align-items: center;

    margin-left: auto;
    margin-right: auto;
}

.home-hero-section-yellow-bottom-bar-icon-image {
    width: 28px;
    height: 28px;
    object-fit: cover;

    border: none;
    border-radius: 2px;
}

.home-hero-section-yellow-bottom-bar-benefit-bullet {
    font-weight: bold;
    font-size: 14px;
    color: #001326;
}

/* SERVICES SECTION */

.home-services-section {
    background-color: #f5f5f1;
}

.home-services-section-content-container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    align-items: center;
}

.home-services-section-service-card-grid {
    display: grid;
    grid-template-columns: 400px 400px 400px;
}

.home-services-section-service-card {
    background-color: #001326;
    border: none;
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 10px;
    margin: 10px;
}

.home-services-section-service-card-icon-image {
    width: 25px;
    height: 25px;
    object-fit: cover;

    border: none;
    border-radius: 2px;
}

.home-services-section-service-card-header {
    color: #f5f5f1;
}

.home-services-section-service-card-p-text {
    color: #f5f5f1;
}

/* WHY US SECTION */

.home-why-us-section {
    background-color: #e8e8e4;
}

.home-why-us-section-column-flex-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.home-why-us-section-content-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.home-why-us-section-credibility-bullet-wrapper {
    display: inline-block;
}

.home-why-us-section-credibility-bullet {
    display: flex;
    flex-direction: row;
    gap: 5px;

    margin-top: 5px;
    margin-right: 15px;
}

.home-why-us-section-credibility-bullet-tick-icon {
    width: 18px;
    height: 18px;
    object-fit: cover;

    border: none;
    border-radius: 2px;
}

.home-why-us-section-credibility-bullet-text {
    font-weight: bold;
    font-size: 13px;
    opacity: 0.8;
}

.home-why-us-section-credibility-bullet-text-rating-link {
    font-family: 'Inter';
    font-size: 13px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    color: #001326;
    opacity: 0.8;

    padding: 0;
    margin: 0;

    text-decoration: underline;

    cursor: pointer;
}

.home-why-us-section-why-us-bullets-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.home-why-us-section-why-us-bullet {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.home-why-us-section-benefit-bullet-icon-and-header-container {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.home-why-us-section-benefit-bullet-icon {
    width: 20px;
    height: 20px;
    object-fit: cover;

    border: none;
    border-radius: 2px;
}

.home-why-us-section-benefit-bullet-header {
    font-size: 15px;
    font-weight: bold;
    opacity: 1;
}

.home-why-us-section-benefit-bullet-text {
    font-size: 13px;
}

.home-why-us-section-right-image-container {
    display: inline-block;
}

.home-why-us-section-right-image {
    display: inline-block;

    width: 500px;
    height: 700px;
    object-fit: cover;

    border: none;
    border-radius: 2px;
}

/* SERVICE AREA SECTION */

.home-service-area-section {
    background-color: #f5f5f1;
}

.home-service-area-section-content-container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    align-items: center;
}

.home-service-area-section-service-area-map {
    width: 1000px;
    object-fit: cover;

    border: none;
    border-radius: 2px;
}

/* CONTACT SECTION */

.home-contact-section {
    background-color: #e8e8e4;
}

.home-contact-section-content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    align-items: center;
}

/* FOOTER */

footer {
    background-color: #001326;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    align-items: center;

    width: 50%;

    margin-left: auto;
    margin-right: auto;
}

.footer-logo-image {
    width: 200px;
    object-fit: cover;
}

.footer-navigation-bar {
    display: flex;
    flex-direction: row;
    gap: 10px;

    align-items: center;
}

/* BREADCRUMB SECTION */

.breadcrumb-section {
    background-color: rgba(255, 252, 0, 0.6);
    padding: 0;
}

.breadcrumb-section-yellow-bottom-bar {
    background-color: #fffc00;
    
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
}

.breadcrumb-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.breadcrumb-link {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #001326;
    text-decoration: none;

    margin: 0;
    padding: 0;

    transition: text-decoration 0.1s;
}
.breadcrumb-link:hover { text-decoration: underline; }

.breadcrumb-divider {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #001326;
    text-decoration: none;
    opacity: 0.8;

    margin: 0;
    padding: 0;

    transition: text-decoration 0.1s;
}

/* RECENT WORK SECTION */

.recent-work-section {
    background-color: #f5f5f1;
}

.recent-work-cards-grid {
    display: grid;
    grid-template-columns: 400px 400px 400px;
}

.recent-work-card {
    display: flex;
    flex-direction: column;
    gap: 7px;

    background-color: #001326;
    border: none;
    border-radius: 2px;

    padding: 20px;

    margin-left: 10px;
    margin-right: 10px;
}

.recent-work-card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;

    margin-bottom: 10px;
}

.recent-work-card-header {
    font-size: 15px;
    color: #f5f5f1;
}

.recent-work-card-text {
    font-size: 12px;
    color: #f5f5f1;
}
