/* MAIN COLOURS:

  Yellow: #fffc00
  White: #f5f5f1
  Dark-Blue: #001326

*/

/* MAIN ELEMENTS */

section {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  font-family: 'Inter';
  font-size: 40px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  color: #001326;

  padding: 0;
  margin: 0;
}

h2 {
  font-family: 'Inter';
  font-size: 22px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  color: #001326;
  
  padding: 0;
  margin: 0;
}

h3 {
  font-family: 'Inter';
  font-size: 12px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #001326;
  opacity: 0.8;

  padding: 0;
  margin: 0;
}

h4 {
  font-family: 'Inter';
  font-size: 15px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  color: #001326;
  opacity: 0.9;

  padding: 0;
  margin: 0;
}

p {
  font-family: 'Inter';
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #001326;
  opacity: 0.8;

  padding: 0;
  margin: 0;
}

.cta-elements-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cta-button {
    background-color: #fffc00;
    border: none;
    border-radius: 2px;

    font-family: 'Inter';
    font-weight: bold;
    font-size: 15px;
    line-height: normal;
    letter-spacing: normal;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;

    width: 190px;

    display: inline-block;
}
.cta-button:hover { opacity: 0.8; }

.cta-button-under-text {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #001326;
    opacity: 0.7;

    padding: 0;
    margin: 0;
}

/* HEADER ELEMENTS */

.home-header-yellow-top-bar {
  background-color: #fffc00;
  
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;

  vertical-align: top;
}

.home-header-yellow-top-bar-elements-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.home-header-yellow-top-bar-links {
  font-family: 'Inter';
  font-size: 11px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #001326;

  text-decoration: none;

  cursor: pointer;

  padding: 0;
  margin: 0;

  transition: text-decoration 0.1s;
}
.home-header-yellow-top-bar-links:hover { text-decoration: underline; }

header {
    background-color: #001326;
}

.home-main-header-content-container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    align-items: center;
}

.home-header-logo-image {
    height: 45px;
    object-fit: cover;
    
    display: inline-block;
}

.home-header-navigation-bar {
    display: flex;
    flex-direction: row;
    gap: 20px;

    align-items: center;

    margin-left: 40px;
}

.home-header-navigation-page-button {
    font-family: 'Inter';
    font-size: 15px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    color: #fffc00;

    text-decoration: none;

    cursor: pointer;

    padding: 0;
    margin: 0;

    transition: text-decoration 0.1s;
}
.home-header-navigation-page-button:hover { text-decoration: underline; }

.home-main-header-cta-button {
    background-color: #fffc00;
    border: none;
    border-radius: 2px;

    font-family: 'Inter';
    font-weight: bold;
    font-size: 13px;
    line-height: normal;
    letter-spacing: normal;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;

    margin-left: auto;

    display: inline-block;
}
.home-main-header-cta-button:hover { opacity: 0.8; }

/* HERO SECTION */

.home-hero-section {
    padding: 0;
    background-image: url("https://tse4.mm.bing.net/th/id/OIP._q5dTwRKCybteTOKeaqlcwHaFS?r=0&rs=1&pid=ImgDetMain&o=7&rm=3");
}

.home-hero-section-bg-image-darkener-div {
    background-color: rgba(0, 19, 38, 0.8);
}

.home-hero-section-content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 50%;

    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.home-hero-section-h2 {
    color: #f5f5f1;
    opacity: 0.9;
}

.home-hero-section-h1 {
    color: #f5f5f1;
}

.home-hero-section-p {
    color: #f5f5f1;
    opacity: 0.8;
}

.home-hero-section-yellow-bottom-bar {
    display: flex;
    flex-direction: row;
    gap: 0px;

    background-color: #fffc00;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.home-hero-section-yellow-bottom-bar-group-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
    align-items: center;

    margin-left: auto;
    margin-right: auto;
}

.home-hero-section-yellow-bottom-bar-icon-image {
    width: 35px;
    height: 35px;
    object-fit: cover;

    border: none;
    border-radius: 2px;
}

.home-hero-section-yellow-bottom-bar-benefit-bullet {
    font-weight: bold;
    font-size: 14px;
    color: #001326;
}
